* {

    scroll-behavior:smooth;
    font-family: 'Playfair Display', serif;
    text-align: center;
  

}
  

.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.tab{
  cursor: pointer;
  padding:10px 130px;
  margin:0px 2px;
  background:#b7b7b7;
  display:inline-block;
  color:#fff;
  border-radius:3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}
.panels{
  background:#fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  width:900px;
  border-radius:3px;
  overflow:hidden;
  padding:80px;  
}
.panel{
  display:none;
  animation: fadein 0.6s;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  background:#fffffff6;
  color:#000;
  border-top: 3px solid #8aa587;
}

.parallax { 

  scroll-behavior: smooth;

  display: flex; 
  flex-direction: column;
  margin: 0;
  top:0;
    width: auto;
    height: 100vh;
    overflow-x: hidden;
    
   
   
}
#background-video2 {
  
 display: none;
 z-index: -1;
 
}

#background-video {
  
  display: flex;
 width: auto;
 height: 100%;
 margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}





.parallax2 { 
  display: flex; flex-direction: column;
  background-attachment: fixed;
  overflow-x: hidden;
  position: relative;
  background: rgb(255, 255, 255);
  margin: 0;
}

.parallax3 { 


  display: flex; flex-direction: column;
  
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;  
  border-radius: 100px;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 50%, #8f9c88 50%);
  position: relative;
  background-attachment: fixed;
}

.parallax4 { 

  background:#ffffff;
   
  background-repeat: no-repeat;
  background-position:center;
  display: flex; flex-direction: column;
  height:  100vh;
  background-attachment: fixed;
  position: relative;
  background: linear-gradient(0deg, #ffffff 50%, rgb(255, 255, 255) 50%);

}


.warpper { height: 150vh;}



.horizontalscroller {
  display: flex;
  gap: 0.52rem;
 

  animation: loop 10s infinite linear;
 
  padding:10px;
  width: max-content;

  position: relative;
  top:40px;
 

}

.horizontalscroller .box1 { display: flex;
flex-direction: row;
justify-content: space-evenly;
overflow-x: hidden;
gap:80px;




}
.horizontalscroller .box1 p {
  justify-content: space-evenly;

  font-size: 25px;
  color: #ffffff;
  
}

@keyframes loop {

  from {left: -200px;}
  to {left: 200px;}
  
}


.imagegallery {
  display: flex;
  gap: 0.52rem;

  animation: loop 20s infinite linear;
  width: max-content;
  width: max-content;
  height: 500px;
  position: relative;
  top:10px;
  margin-bottom: 50px;
 
}

.imagegallery2 {
  display: flex;
  gap: 0.52rem;

  animation: loopbackwards 20s infinite linear;
  width: max-content;
 
  width: max-content;
  height: 500px;
  position: relative;
  top:10px;
  margin-bottom: 100px;
}


@keyframes loopbackwards {

  from {left: 200px;}
  to {left: -200px;}
  from {right:-200px;}
  to {right:200px;}
}
 header { 
  top:0
 }



/*navigation menu*/



.logo img { height: 100px; 
  width: auto;  
  top:0;
  padding: 0;
  z-index: 1;
}

menu { display:none;
top:0; z-index: 1;}


#menubar { display:none; top:0; margin: 0; padding: 0;z-index: 1;}



.nav ul{ display: flex;
   flex-direction: row;
  justify-content: space-evenly; 
  flex-direction: row; 
 
   padding: 0; 
   margin: 0;
   top: 0;
  background-color: #ffffff00; 
  align-items: center; 
z-index: 1000;}
  
  
  #menu li { list-style-type: none;  }
  
  li a {
  
      text-decoration: none;
      color: #ffffff;
      font-size: 20px; font-weight: 400;}
          
  
   li:hover a{
          font-weight: 600px;
          font-size: 30px;
        }
      
        
  

.texttile { 
  display: flex; 
  flex-direction: column; 
  
  text-align: center;}



.box {margin-bottom: 0x;}


.box h1 { 
    font-size: 60px;
     color: rgb(255, 255, 255); 
    font-weight: bold; 
    text-transform: uppercase; 
    text-shadow: 2px 1px gray ;
    letter-spacing: 5px;
     margin-top: 400px; 
    animation: zoomIn;
    animation-duration: .44s;}


    .button {
        background-image: none;
        box-sizing: border-box;
        text-align: center;
        text-transform: uppercase;
        padding: 20px 40px;
        transition: 0.5s;
        color: rgb(255, 255, 255);            
        border-radius: 8px;
        text-decoration: none;
        font-size: 22px;
        border-style: double;
        margin-top: 20px;
      }

      .button:hover {
     
        color: white; 
        background-color: #99A98F;
        text-decoration: none;
        opacity: 100%;
        border-style:double; 
      }

    .button3 { background-color: white;
      box-sizing: border-box;
      text-align: center;
      text-transform: uppercase;
      padding: 20px 40px;
      transition: 0.5s;
      color: #99A98F;            
      border-radius: 8px;
      text-decoration: none;
      font-size: 22px;
      border-style: double;
      border-color: 6px 6px 6px 6px #9c9895;
    
      margin-top: 20px;
      
    }


    .button12 { 
      background-image: none;
      box-sizing: border-box;
      text-align: center;
      text-transform: uppercase;
      padding: 10px 30px;
      transition: 0.5s;
      color: #99A98F;            
      border-radius: 8px;
      text-decoration: none;
      font-size: 18px;
      border-style:solid;
      margin-top: 20px;
      border-color: 6px 6px 6px 6px #9c9895;
      z-index: 1000;
    }
    .button123 {
      background-image: none;
      box-sizing: border-box;
      text-align: center;
      text-transform: uppercase;
      padding: 10px 30px;
      transition: 0.5s;
      color: #99A98F;            
      border-radius: 8px;
      text-decoration: none;
      font-size: 18px;
      border-style: double;
      border-color: 6px 6px 6px 6px #9c9895;
      z-index: 1000;
      margin-top: 20px;
      
    }


    .button3:hover {
   
      color: white;
      background-color: #99A98F;
      text-decoration: none;
      opacity: 100%;
      border-style:double; 
    }
      h2 { 
        margin-top: 100px; 
        margin-bottom: 120px;}

  /*image gallery */
    






    .imagegallery .image img { 
      filter: grayscale(80%); 
      border-radius: 10px;
    }

    .imagegallery2 .image img { 
      filter: grayscale(80%); 
      border-radius: 10px;
    }

    .imagegallery .image img:hover { 
      filter:none;
      cursor: pointer;
  box-shadow: #AFA79F 4px 4px 4px 4px; 
  border-radius: 10px;
  transform: scale(0.9);
  transition: linear;
  filter: grayscale(20%);
    }

    .imagegallery2 .image img:hover { 
      filter:none;
      cursor: pointer;
  box-shadow: #AFA79F 1px 1px 1px 1px; 
  border-radius: 10px;
  transform: scale(0.9);
 
  filter: grayscale(20%);
  transition: 40s;
    }









h3 { 
  font-size: 40px; 
  color: #99A98F; 
  text-shadow: 2px 1px gray ;
   letter-spacing: 5px; 
   text-transform: uppercase; 
    margin-top: 60px;
     margin-bottom: 80px;   
    } 

    #aboutme { 
      font-size: 40px; 
      color: #ffffff; 
      text-shadow: 2px 1px gray ;
       letter-spacing: 15px; 
       text-transform: uppercase; 
        margin-top: 60px;
        margin-bottom: 1px;
        position: relative;
    
        } 

        
       


.aboutme {

    display: flex;
    flex-direction: row;
    gap:10px;
    text-align: center;
    align-content: center;
    align-items: center;
  margin: 0 100px 0 100px;
    
    
}

.aboutme img{
    border-radius: 50%;
    box-shadow: 10px 10px 0px 0px #ffffff63;
    animation: zoomIn;
    animation-duration: .80s;
    animation-delay: 0.20s;
    z-index: 1000px;
}

.aboutmetext {
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
    font-size: 22px;
}





.aboutmetext p {
   text-align: justify;
    margin-top: 50px; 
  }




/*services packages */




.packages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 80px;
   
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    padding: 40px 20px;
    margin: 10px 0;
    text-align: center;
    position: relative;
    cursor: pointer;
    border-radius: 10%;
    background: #ffffff;
    box-sizing: border-box;
    border-style:groove;
    box-shadow: 10px 10px 0px 0px #c9c6c6 ;
    border-color: 6px 6px 6px 6px #9c9895
  }
  
  .content {
    padding: 10px;
  }

  .content ul { margin-top: 3px; margin-bottom: 4px;
  list-style: none;}
  
  .content .price {
    color: black;
    font-weight: 800;
    font-size: 18px;
    
    
  }
  
  .content .description {
    color: black;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .content .title {
    text-transform: uppercase;
    color: #000000;
    
    font-size: 25px;
    letter-spacing: 1px;
  }
  
  .button1 {
    background-image: none;
      box-sizing: border-box;
      text-align: center;
      text-transform: uppercase;
      padding: 10px 30px;
      transition: 0.5s;
      color: #99A98F;            
      border-radius: 8px;
      text-decoration: none;
      font-size: 18px;
      border-style: double;
      border-color: 6px 6px 6px 6px #9c9895;
      z-index: 1000;
      margin-top: 20px;
      
     
  }
  
  

.card:hover{

    
    cursor: pointer;
    box-shadow: white 2px 2px 4px 4px;
    transform: scale(1.01);
}


/* formulario */

.formulario { 
  display:flex;
  background-color: #ffffff;
  width: auto;
}

.formbox{ 
  display:flex; 
  text-align: center;
  align-content: center; 
  align-items: center; 
  flex-direction: column;
  background-color: #eee; 
  padding: 40px 60px 40px 60px;
  box-sizing: border-box;
  border: 1px #000000; 
  border-radius: 10px;
  opacity: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}


.formbox h4 { 
  font-size: 30px; 
  color: #0b0b0b; 
  text-shadow: 2px 1px rgb(228, 228, 228) ; 
  letter-spacing: 5px; 
  text-transform: uppercase; 
}


label {display: inline;
   text-align: left;
  }

input { box-sizing: border-box; 
   border-radius: 8px;
   box-sizing: border-box;
   padding:8px;
   font-size: 20px;
   caret-color: #a3b19b;
  }


.groom { 
  display: flex;
  flex-direction: row; 
  gap:5px;
}
.weddingdate { 
  display: flex;
   flex-direction: row; 
   gap:5px;
  }
.comments { 
  display: flex; 
  flex-direction:row;
  gap:5px;
}
.number { 
  display: flex; 
  flex-direction: row;
  gap:5px;
}
.email {
  display: flex; 
  flex-direction: row;
  gap:5px;
}
form {
   display: flex;
   flex-direction: column;
    gap:20px;
  }


input[type=submit] {  
   background-image: linear-gradient(to right, #a3b19b 2%, #99A98F 51%);
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  padding: 12px;
  transition: 0.5s;
  color: white;            
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px; 
  opacity: 80%;
}

input[type=submit]:hover { 
  color: white;
  text-decoration: none;
  opacity: 100%;
  border-style:double;
}


/* footer */

footer{    
       background-color: #99A98F;
        padding:20px; 
        border-radius: 1px;
         text-align: center; 
         align-items: center;  
         align-content: center; 
         flex-wrap: wrap;
} 

.footer ul {display: flex;
   text-align: center;
   flex-direction: row;
    gap: 30px;  
    padding: 0; 
    margin: auto 0; 
    justify-content: space-evenly; 
  }
.footer li {
   list-style: none; 
   justify-content: center;
   }



@media screen and (max-height: 670px) { 

  .formulario {
    height: 100vh;
  }
}


@media only screen and (max-width:600px) { 



  #background-video2 {
    
  display: flex;
  z-index: -1;

  }

  #background-video { display: none;}
  

.parallax2 { background-attachment: inherit;
  
}

.parallax3 {
  background-attachment: inherit;
  height: 110vh;
  border-radius: 30px;
  
}

.parallax4 {height: 120vh;}


.formulario { background-color: #eee;
   height: 100vh;}


#menu {
  z-index: 2; left:200px;
  
}

#aboutme { font-size: 16px;}


#menu-bar {
  width: 20px;
  height: 15px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  
  padding: 18px;
  text-align: center;
  align-items: center;
 
  
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #ffffff;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease; 
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none; 
}

.nav ul {
  padding: 0 22px;
  display: flex;
   flex-direction: column;
   text-align: center;
    margin: auto 0; 
     align-items: center;
}

.nav li {
  list-style: none;
  padding: 12px 0;
  
}

.nav li a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-decoration: none;
  
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute; 
}

.menu-bg {
  z-index: 1;
  width: 200;
  height: 100%;
  margin: 100px 200px 50px 200px;
  backdrop-filter: blur(2px);
  
  
  border-radius: 2%;
  transition: 0.3s ease;
}

.change {
  display: block; 
}

.change .bar {
  background-color: rgb(255, 255, 255); 
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 400px;
  height: 1000px;
  transform: translate(-60%,-30%);
  
}

nav#nav.nav.change{ font-size: 50px; 
  margin-left: 150px;
}
#menu1 li a{ font-size: 20px;
   font-weight: 800;  
   }



ul:hover li a{
  color: #505050; }




.menu { display: none;}

    /* title */

.box h1 { 
   font-size: 18px;
    color: rgb(90, 145, 86); 
    text-transform: uppercase;
    margin-top: 10px;   
    margin-bottom: 10px;
    letter-spacing: 4px; 
    text-align: center;
    z-index: 1000;
  
    }

.box { margin-bottom: 10px;}


.button {  
    background-image: linear-gradient(to right, #a3b19b 2%, #99A98F 51%);
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    color: white;            
    box-shadow: 0 0 10px #eee;
    border-radius: 8px;
    text-decoration: none;
    font-size: 12px;
    border-block: none;
    opacity: 90%;
   }

    
    
.button3 {
  background-image: linear-gradient(to right, #a3b19b 2%, #99A98F 51%);
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  color: white;            
  box-shadow: 0 0 10px #eee;
  border-radius: 8px;
  text-decoration: none;
  font-size: 12px;
  border-block: none;
  opacity: 90%;
  margin: 2px;
}






.aboutme {display: flex;
flex-direction: column; align-content: center; text-align: center; margin: auto 0;}

.aboutme img{ height: 200px; width: auto;}


    .aboutmetext p { font-size: 18px;
    text-align: center; color: rgb(0, 0, 0); margin-top: 5px; margin-bottom: 10px;}

      .aboutmetext p i { text-decoration:line-through gray;}


  

  /* services */

.packages {

    
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: cover;
    padding: 50px;
    gap: 40px;
    margin:0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    padding: 5px 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
    border-radius: 10%;
    background-color: #eee;
    margin:5px 30px 5px 20px;
  }
  
  .content {
    padding: 20px;
  }
  
  .content .price {
    color: black;
    font-weight: 800;
    font-size: 16px;
    
  }
  
  .content .description {
    color: rgb(223, 221, 221);
    margin-top: 10px;
    font-size: 12px;
  }
  
  .content .title {
    text-transform: uppercase;
    color: #99A98F;
   
    
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  .button1 {
    background-image: none;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 30px;
    transition: 0.5s;
    color: #99A98F;            
    border-radius: 8px;
    text-decoration: none;
    font-size: 12px;
    border-style: double;
    border-color: 6px 6px 6px 6px #9c9895;
    z-index: 1000;
  }
  .button12 {
    background-image: none;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 30px;
    transition: 0.5s;
    color: #99A98F;            
    border-radius: 8px;
    text-decoration: none;
    font-size: 12px;
    border-style: double;
    border-color: 6px 6px 6px 6px #9c9895;
    z-index: 1000;
  }
  .button123 {
    background-image: none;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 30px;
    transition: 0.5s;
    color: #99A98F;            
    border-radius: 8px;
    text-decoration: none;
    font-size: 12px;
    border-style: double;
    border-color: 6px 6px 6px 6px #9c9895;
    z-index: 1000;
  }
  
  
  

.card:hover{
    cursor: pointer;
    box-shadow: 10px 10px 0px 0px gainsboro;
}


/* image gallery */

.imagegallery { 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin-top: 20px;
    }    


   
.imagegallery img{
  height: 400px; 
  width: 300px; 
   }

h3 { 
  font-size: 20px; 
  color: #99A98F; 
  text-shadow: 1px 1px rgb(164, 162, 162) ; 
  letter-spacing: 3px;
  text-transform: uppercase; 
  margin-top: 70px; 
  margin-bottom: 10px;
  }
    

.formbox{
   display:flex; text-align: center; 
   align-content: center;
  align-items: center; 
  flex-direction: column;
  background-color: #ffffff; padding: 20px;
  box-sizing: border-box;
  border: 1px #b9b9b9; 
  width: 300px;
  height:620px; 
  border-radius: 10px;
  opacity: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
        }

 .formbox h4{ 
  font-size: 18px;
   letter-spacing: 2px;
  }

form { font-size: 12px;}

 input[type=submit] {   
  background-image: linear-gradient(to right, #a3b19b 2%, #99A98F 51%);
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  transition: 0.5s;
  color: white;            
  border-radius: 8px;
  text-decoration: none;
  font-size: 10px;
  border-color: #b9b6b6; color: #000000;
  opacity: 80%;      
  }
        
input[type=submit]:hover { 
  color: white;
  text-decoration: none;
  opacity: 100%;
  border-style:double; }
        
.tabs { display: flex; flex-direction: row;
 }


.tab { padding: 5px 10px;}

.footer {
  justify-content: space-evenly; 
  padding-top:20px; 
}
    

    }




    @media only screen and (min-width: 508px) and (max-width: 800px) {

      #menu {
        z-index: 2; left:200px;
        
      }

      
      #background-video {
        width: auto;
        height: 100vh;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
      
      
      
      #menu-bar {
        width: 25px;
        height: 20px;
        margin: 30px 0 20px 20px;
        cursor: pointer;
        
      }
      
      .bar {
        height: 5px;
        width: 100%;
        background-color: #ffffff;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease; 
      }
      
      #bar1 {
        transform: translateY(-4px);
        
      }
      
      #bar3 {
        transform: translateY(4px);
      }
      
      .nav {
        transition: 0.3s ease;
        display: none; 
      }
      
      .nav ul {
        padding: 0 20px;
        display: flex;
         flex-direction: column;
         text-align: center;
          margin: auto 0; 
           align-items: center;
           color: #ffffff;
      }
      
      .nav li {
        list-style: none;
        padding: 12px 0;
        
      }
      
      .nav li a {
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-decoration: none;
        
      }
      
      .nav li a:hover {
        font-weight: bold;
      }
      
      .menu-bg, #menu {
        top: 0;
        left: 0;
        position: absolute; 
       
      }
      
      .menu-bg {
        z-index: 1;
        width: 1000;
        height: 800%;
        margin: 100px 200px 50px 200px;
        backdrop-filter: blur(20px);
        
        
        border-radius: 2%;
        transition: 0.3s ease;
      }
      
      .change {
        display: block; 
        color: #ffffff;
      }
      
      .change .bar {
        background-color: rgb(255, 255, 255); 
      }
      
      .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
      }
      
      .change #bar2 {
        opacity: 0;
      }
      
      .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
        color: white;
      }
      
      .change-bg {
        width: 1500px;
        height: 1500px;
        transform: translate(-60%,-30%);
        
      }
      
      nav#nav.nav.change{ font-size: 50px; 
        margin-left: 200px;
      }
      #menu1 li a{ font-size: 30px;
         font-weight: 400;  
         }
      
      
      
      ul:hover li a{
        color: #ffffff; }
      
      
      
      
      .menu { display: none;}
      


  

  .parallax4 { 
    height: 80vh;
  }
  .formulario {
  height: 70vh;
}
  header { 
        margin:24px;
      }
  .menu { 
    display: flex;
    gap:50px;
  } 

  .nav li a{ 
    font-size: 26px;
  }
   h1 {
  font-size: 60px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase; margin-top: 120px;margin-bottom: 300px;  
  text-shadow: 1px 1px black;
  letter-spacing: 3px; 
}


.aboutme { 
  display:block;
  margin: auto 0;
  margin-top: 10px; 
}
.aboutmetext {
text-align: center;
font-size: 14x; 
margin:20px 100px 20px 100px;}

.aboutme img{ 
  height: 400px; 
  width: auto;}


.aboutmetext p { 
  font-size: 20px;
  text-align: center;}

  .aboutme h3 { 
    padding: 0; 
    margin-top: 1px;}

  .content .description {
    color: black;
    font-size: 20px;
  }
  
  .content .title {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    
    font-size: 25px;
    letter-spacing: 1px;
  }
  .content .price {
    color: black;
    font-weight: 800;
    font-size: 30px;
    
  }
    

    }

   
    @media only screen and (min-width: 700px) and (max-width: 1106px) {


    }
